.mainBlock {
    height: 100vh;
    background-color: #101010;
}
.greetings {
    background-color: #101010;
    height: 300px;
    font-size: 26px;
    color: white;
}
.p {
color: #BDECC5;
}
.span {
    color: gray;
    font-size: 70%;
}
.photo {
    width: 450px;
    height: 450px;
    box-sizing: border-box;
    border-radius: 100%;
    content-visibility: auto;
    border: 7px solid #BDECC5
}
.imgElement {
    width: 450px;
    height: auto;
}
.contentBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.particles {

}



/* Landscape tablets and medium desktops */
@media (min-width: 992px) {
.contentBlock {
    display: flex;
    flex-direction: column;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .contentBlock {
        display: flex;
        flex-direction: column;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .contentBlock {
        display: flex;
        flex-direction: column;
        font-size: 70%;
    }
    .greetings {
        background-color: #101010;
        height: 300px;
        font-size: 25px;
        color: white;
    }
    .imgElement {
        width: 400px;
        height: auto;
    }
    .photo {
        width: 400px;
        height: auto;
        position: relative;
        top:-40px;
    }
    .p {
        font-size: 80%
    }
    .span {
        color: gray;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .contentBlock {
        display: flex;
        flex-direction: column;
    }
    .imgElement {
        width: 250px;
        height: auto;
    }
    .photo {
        width: 250px;
        position: relative;
        top:-100px;
    }
    .p {
        font-size: 60%
    }
    .span {
        color: gray;
    }
}

/* Iphone 5 */
@media (max-width: 320px) {
    .contentBlock {
        display: flex;
        flex-direction: column;
    }
    .imgElement {
        width: 200px;
        height: auto;
    }
    .photo {
        width: 200px;
    }
}


