.remoteWorkBlock {
    background-color: #0c0c0c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.contentBlock {
    margin: 0 auto;
}
.contentRemoteWork {
    border: 1px solid gray;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.title {
    text-align: center;
    position: relative;
    bottom: 50px;
}
.button {
    width: 200px;
    height: 50px;
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #49f8a1;
    color: #49f8a1;
    position: relative;
    bottom: 50px;
    font-size: 25px;
}
.button:hover {
    background-color: #49f8a1;
    color: #0c0c0c;

}