.skillsItemBlock {
    width: 250px;
    background-color: #000;
    border: 2px solid gray;
    font-family: 'Ubuntu', sans-serif;
}
.image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.title {
    text-align: center;
    color: white;
}
.description {
    color: #979797;
}

