.skillsBlock {
    height: 100vh;
    background-color: #cdff87;
}
.contentBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title {
    text-align: center;
}