body{
    background:black;
    --lights:rgb(91, 235, 115);
}

@font-face{
    font-family: neon;
    src: url(https://dl.dropbox.com/s/df4zz9y6lmhocr9/England.otf?dl=0)
}

#neon{
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:1vh;
    line-height:1vh;
    text-align:center;
    font-size:15vh;
    font-family:neon;
    color:white;
    text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);
    animation: flicker 7s infinite;
    filter:brightness(1);
}

@keyframes flicker{
    9%{
        text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);;
        filter:brightness(1)
    }
    10%{
        text-shadow:none;
        filter:brightness(.4);
    }
    11%{
        text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);;
        filter:brightness(1)
    }
    12%{
        text-shadow:none;
        filter:brightness(.4);
    }
    13%{
        text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);;
        filter:brightness(1)
    }
    66%{
        text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);;
        filter:brightness(1)
    }
    67%{
        text-shadow:none;
        filter:brightness(.4);
    }
    75%{
        text-shadow:none;
        filter:brightness(.4);
    }
    76%{
        text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights);;
        filter:brightness(1)
    }
}

@media (min-width: 1200px) {
    #neon {
        font-size:14vh;
    }
}
.titleContainer {
    margin: 100px;
    height: 50px;
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    #neon {
        font-size:12vh;
    }
    .titleContainer {
        margin: 85px;
        height: 35px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    #neon {
        font-size:10vh;
    }
    .titleContainer {
        margin: 75px;
        height: 25px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) and (min-width: 640px) {
    #neon {
        font-size:10vh;
    }
    .titleContainer {
        margin: 65px;
        height: 20px;
    }
}

@media (max-width: 640px) {
    #neon {
        font-size:6vh;
    }
    .titleContainer {
        margin: 50px;
        height: 15px;
    }
}
@media (max-width: 380px) {
    #neon {
        font-size:6vh;
    }
    .titleContainer {
        margin: 50px 20px;
        height: 15px;
    }
}
