.header {
    height: 80px;
    width: 100%;
    min-width: 360px;
    background-color: #0c0c0c;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contentBlock {
    border: 1px solid gray;
    height: 100%;
    margin: 0 auto;
    width: 80%;
    position: relative;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}