.footerBlock {
    background-color: #0c0c0c;
}
.footerContent {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
}
.iconContainer {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0px;

}
.icon {
    cursor: pointer;
    background-color: #0c0c0c;
    fill: #949494;
    stroke: #949494;

}
.icon:hover {
    fill: #fff;
    stroke: #fff;
    background-color: #0c0c0c;
}